
<div class="main-content-wrapper">
    <div class="content-header">
        <div>
        <img src="https://thekland.com/assets/images/logo.png" alt="Logo" class="login-logo" />
        </div>
        <div class="myaccountheader">
            <h1 class="account-title">MY ACCOUNT</h1>
            <p class="account-subtitle">Manage Your Fun: View Tickets, Book Zones, and Track Your Adventure!</p>
        </div>
         <div>
           <p></p>
           <p></p>
        </div>
    </div>
    <div class="headercontainer">
            <app-header></app-header>
    </div>
  <div class="container account-body-container">
    <div class="row">
      <div class="col-3 sidebar">
        <app-sidebar></app-sidebar>
      </div>

      <div class="col-9 personalinfo">
        <app-personalinfo></app-personalinfo>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>