<div class="app-header">
    <div class="container">
        <div class="header-content">
            <div>
                <h2>Quick links</h2>
            </div>
            <div class="footerContent" style="margin-left: 1vw;">
                <p class="userDetails">Press</p>
                <p class="userDetails">FAQS</p>
            </div>
            <div class="footerContent">
                <p class="userDetails">Contact us</p>
                <p class="userDetails">About us</p>
            </div>
            <div class="footerContent" style="margin-left: 2.9vw;">
                <p class="userDetails">Join the team</p>
                <p class="userDetails">Terms&conditions</p>
            </div>
        </div>
         <div class="footer">
            <div class="footerContent1">
               <p class="userDetails">PRIVACY POLICY</p>
               <P class="userDetails">Copyright 2024 k-Land.<br> All Rights Reserved.</P>
            </div>
            <div class="footerContent1">
              <P class="userDetails">FOLLOW US</P>
              <p><i class="fa-brands fa-square-instagram" style="font-size: 2vw;"></i></p>
            </div>
            <div class="footerContent1">
               <P>PRESENTED BY</P>
               <img src="https://thekland.com/assets/images/logo.png" alt="Logo" class="login-logo"/>
            </div>
         </div>
    </div>
</div>