.header-content {
    display: flex;
    flex-direction: row;
    align-items: start;
    column-gap: 0.5vw;
}

.userDetails {
    margin: 0;
    padding: 0;
}

.topHeader {
    display: flex;
    flex-direction: column;
    row-gap: 0.2vw;
}

// .container{
//     display: flex;
//     align-items: center;
//     width: 80%;
//     background-color: #fff;
//     border-radius: 15px;
//     padding: 20px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// }
.app-header {
    display: flex;
    align-items: center;
    justify-content: center;
}